
<!--Para recomendar desde la base local-->

<!--&lt;!&ndash;(start) added for Recommender Module&ndash;&gt;-->

<!--<h1> Article saved successfully!!! </h1>-->

<!--<p>Ingresar al modulo de recomenación para encontrar articulos relacionados con su busqueda</p>-->

<!--<a href="/recommendations">-->
  <!--<button type="button"  class="btn btn-primary">Recomendaciones</button>-->
<!--</a>-->

<!--&lt;!&ndash;(end) added for Recommender Module&ndash;&gt;-->




<!--Para recomendar desde wikindx-->

<!--(start) added for Recommender Module-->

<h1> Article saved successfully!!! </h1>

<p>Ingresar al modulo de recomenación para encontrar articulos relacionados con su busqueda</p>

<a href="/recommendationsWkx">
  <button type="button"  class="btn btn-primary">Recomendaciones</button>
</a>

<!--(end) added for Recommender Module-->
