<!--(start) added for Recommender Module-->

<h1> Article saved successfully!!! </h1>

<p>Ingresar al modulo de recomenación para encontrar articulos relacionados con su busqueda</p>

<a href="/recommendations">
  <button type="button"  class="btn btn-primary">Recomendaciones</button>
</a>

<!--(end) added for Recommender Module-->
