
<font color="#01549b"><h3>Create a new article for my library</h3></font>
<br>
<br>
<form action="/Saludo/crearMiArticulo" method="post">


  <div class="form-group row">

    <label for="title" class="col-2 col-form-label"><h5><b>Title</b></h5></label>

    <div class="col-10">

      <input class="form-control"
             type="text"
             placeholder="Enter the title"
             id="title"
             name="title"

      >

    </div>

  </div>

  <div class="form-group row">
    <label for="country" class="col-2 col-form-label"><h5><b>Country</b></h5></label>
    <div class="col-10">
      <input class="form-control" type="text"
             placeholder="Enter the country"
             name="country"
             id="country">
    </div>
  </div>

  <div class="form-group row">
    <label for="number" class="col-2 col-form-label"><h5><b>Number</b></h5></label>
    <div class="col-10">
      <input class="form-control" type="text" placeholder="Enter the number" id="number"
             name="number">
    </div>
  </div>

  <div class="form-group row">
    <label for="volume" class="col-2 col-form-label"><h5><b>Volume</b></h5></label>
    <div class="col-10">
      <input class="form-control" type="text" placeholder="Enter the volume"
             name="volume"
             id="volume">
    </div>
  </div>


  <div class="form-group row">
    <label for="year" class="col-2 col-form-label"><h5><b>Date</b></h5></label>
    <div class="col-10">
      <input class="form-control" type="text" placeholder="Enter the date"
             name="year"
             id="year">
    </div>
  </div>
  <div class="form-group row">
    <label for="abstract" class="col-2 col-form-label"><h5><b>Abstract</b></h5></label>
    <div class="col-10">
      <textarea
        id="abstract"
        name="abstract"
        rows="5" cols="110"


      ></textarea>
    </div>
  </div>

  <div class="form-group row">
    <label for="issns" class="col-2 col-form-label"><h5><b>issns</b></h5></label>
    <div class="col-10">
      <input class="form-control" type="text" placeholder="Enter the issns"
             name="issns"
             id="issns">
    </div>
  </div>

  <div class="form-group row">
    <label for="language" class="col-2 col-form-label"><h5><b>Language</b></h5></label>
    <div class="col-10">
      <input class="form-control" type="text" placeholder="Enter the language in which your article is written"
             name="language"
             id="language">
    </div>
  </div>

  <div class="form-group row">
    <label for="keywords" class="col-2 col-form-label"><h5><b>Keywords</b></h5></label>
    <div class="col-10">
      <input class="form-control" type="text" placeholder="Enter the keywords of your article"
             name="keywords"
             id="keywords">
    </div>
  </div>

  <div class="form-group row">
    <label for="link" class="col-2 col-form-label"><h5><b>Link</b></h5></label>
    <div class="col-10">
      <input class="form-control" type="text" placeholder="Enter a url where your file is located"
             name="link"
             id="link">
    </div>
  </div>

  <div class="form-group row">
    <label for="author" class="col-2 col-form-label"><h5><b>Author</b></h5></label>
    <div class="col-10">
      <input class="form-control" type="text" placeholder="Enter the authors"
             name="authors"
             id="authors">
    </div>
  </div>

  <div class="form-group row">
    <label for="category" class="col-2 col-form-label"><h5><b>Category</b></h5></label>
    <div class="col-10">
      <input class="form-control" type="text" placeholder="What category does your article belong to"
             name="category"
             id="category">
    </div>
  </div>

  <div class="form-group row">
    <label for="notas" class="col-2 col-form-label"><h5><b>Notes</b></h5></label>
    <div class="col-10">
     <textarea

       id="notas"
       name="notas"
       rows="5" cols="110"

     ></textarea>
    </div>
  </div>


  <button
    class="btn btn-outline-success">Save</button>

  <button type="reset"
          class="btn btn-outline-warning">Reset</button>

</form>
<br>
<br>
<br>
