<div class="row" >
  <div class="col-md-1"></div>
  <div class="col-md-10">
    <div id="resultAlgorithm">
      <div class="card">
        <h5 class="card-header text-center">TITULOS</h5>
        <div class="card-body">

          <div class="row">
            <div class="col-md-12">
              <table class="table table-bordered table-responsive">
                <tbody>
                <tr ng-repeat="articleTitle in responseJsonLucene.slice(((currentPage-1)*itemsPerPage), ((currentPage)*itemsPerPage))">

                  <th scope="row">{{$index+1}}</th>
                  <td>
                    {{articleTitle.tituloArticulo}}
                  </td>

                  <td>
                    <button id="btn{{$index}}" type="button" value="{{articleTitle.tituloArticulo}}" class="btn btn-outline-success btn-block" data-toggle="modal" data-target="#metadataACM" onclick="web(this)">Metadatos</button>
                  </td>
                </tr>
                </tbody>
              </table>
              <div class="row">
                <div class="col-md-12">
                  <ul uib-pagination
                      total-items="totalItems"
                      ng-model="currentPage"
                      ng-change="pageChanged()"
                      num-pages="smallnumPages"
                      max-size="maxSize"
                      class="pagination-sm"
                      boundary-links="true"
                      items-per-page="itemsPerPage"
                      force-ellipses="true">
                  </ul>
                </div>
              </div>
              <div class="row">
                <div class="col-md-4">
                  <div class="form-group">
                    <label>Escoger:</label>
                    <select class="form-control" ng-model="viewby" ng-change="setItemsPerPage(viewby)">
                      <option value="10">ver 10 resultados</option>
                      <option value="20">ver 20 resultados</option>
                      <option value="50">ver 50 resultados</option>
                      <option value="100">ver 100 resultados</option>
                    </select>
                  </div>
                </div>
                <div class="col-md-8"></div>
              </div>
              <hr />
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
  <div class="col-md-1"></div>

</div>
