<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <!-- Main content -->
  <section class="content container-fluid">


    <!-- /-------------------------------------------------------------------------------------------------------------/ -->

    <!--------------------------
    | Your Page Content Here |
    -------------------------->


    <h1>PROHIBIDO</h1>





    <!-- /-------------------------------------------------------------------------------------------------------------/ -->
  </section>
  <!-- /.content -->
</div>
<!-- /.content-wrapper -->

