<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1>DOAJ</h1>
        </div>
        <div class="col-sm-4">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="<%= MasterUrlService.base_url()%>"><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="breadcrumb-item active"> DOAJ</li>
          </ol>
        </div>
        <div class="col-sm-2">
          <ol class="breadcrumb pull-right">
            <li>
              <div class="">
                <button class="btn btn-secondary"
                        id="reload">
                  Recargar
                  <i class="fa fa-refresh" aria-hidden="true"></i>
                </button>
              </div>
            </li>
          </ol>
        </div>
      </div>
    </div><!-- /.container-fluid -->
  </section>
  <!-- Main content -->
  <section class="content">
    <div class="container-fluid">
      <!-- /-------------------------------------------------------------------------------------------------------------/ -->
      <!--------------------------
      | Your Page Content Here START|
      -------------------------->

      <input hidden
             class="form-control"
             type="text"
             id="idUsuario"
             name="idUsuario"
             value="<%=req.cookies.User%>">
      <!DOCTYPE html>
      <html lang="en">
      <head>
        <meta charset="UTF-8">
        <title>Title</title>
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
      </head>
      <body>

      <div class="card">
        <div class="card-header">
          El artículo ha sido guardado en tu biblioteca!!!
        </div>
        <div class="card-body">
          <input
            class="form-control"
            type="text"
            id="homepage-search-input"
            name="homepage-search-input"
            value="<%=req.cookies.busqueda%>">
          <button type="button" onclick="javascript:spiner(); callWebService1();">Ver artículos relacionados</button>

          <a href="/bibliotecaUser" class="btn btn-primary">Ir a biblioteca</a>
        </div>
      </div>



      <i class="icon-search orange">

      </i>


      <div id="resultado_json"></div>
      <script type="text/javascript">
        // Procesar resultados del webservice
        function spiner(){
          $("#resultado_json").append("<i class='fa fa-spinner fa-spin' style='font-size:24px'></i>");
        }

        function webServiceResult1(data) {
          var busqueda = document.getElementById("homepage-search-input").value;

          $("#resultado_json").empty();
          var hoy = new Date();
          var dd = hoy.getDate();
          var mm = hoy.getMonth() + 1; //hoy es 0!
          var yyyy = hoy.getFullYear();

          if (dd < 10) {
            dd = '0' + dd
          }

          if (mm < 10) {
            mm = '0' + mm
          }

          hoy = dd + '/' + mm + '/' + yyyy;
          staus = data.status
          console.log("staus", staus);
          if (staus == "Not found") {
            alert('No existen articulos relacionados con esa palabra!');
          } else {

            for (i = 0; i < +data.data.length; i++) {

              title = data.data[i].title;
              number = '';
              volume = '';
              issns = '';
              journal = '';
              editorial = ''
              doi = '';
              publisher = data.data[i].publisher; //poner un if
              year = data.data[i].datePublished; //poner un if
              starpage = '';
              endpage = '';
              pages = '';
              keywords = busqueda;
              cate = data.data[i].topics[0]; //poner un if
              abstract = data.data[i].description;
              language = 'EN/ES';
              country = '';
              var url = data.data[i].downloadUrl;
              fkIdUser = parseInt(document.getElementById("idUsuario").value);
              var busqueda = document.getElementById("homepage-search-input").value;

              for (var j = 0; j < 10; j++) {
                if (typeof data.data[i].authors[0] !== 'undefined') {

                  var autorHtml = data.data[i].authors[0];
                  var autores = autorHtml;
                  var authorb = autores.charAt(0);
                  textoAuthorDividido = autorHtml.split(" ");
                  numeroPalabras = textoAuthorDividido.length;
                  if (numeroPalabras >= 4) {
                    nameAuthor = autores.split(/\s+/, 2);
                    //var output = autores.split(/\s+/).pop();
                    //output es el apellido del autor
                    //nombreA es el nombre del autor
                    var output1 = textoAuthorDividido[textoAuthorDividido.length - 2];
                    var output12 = textoAuthorDividido[textoAuthorDividido.length - 1];
                    var apellido = output1 + ' ' + output12;


                  }
                  else {
                    nameAuthor = autores.split(/\s+/, 1);
                    //var output = autores.split(/\s+/).pop();
                    var apellido = textoAuthorDividido[textoAuthorDividido.length - 1];


                  }
                  var nombreA0 = (nameAuthor.join(" "));
                  var nombreA = nombreA0;

                  var authorbibliograpyIEEE = authorb + ' ' + apellido;
                  var authorsb = authorbibliograpyIEEE;
                  var nombreAuthores = [nombreA];
                  var apellidoAuthores = [apellido];
                  var apellidoAuthoresISO = apellido.toUpperCase() + ', ' + nombreA;
                  var apellidoAuthoreshardvard = apellido + ', ' + nombreA.charAt(0) + '.';
                }
                console.log("author1", nombreA + apellido);


              }

              for (var j = 0; j < 10; j++) {
                if (typeof data.data[i].authors[1] !== 'undefined') {
                  var autor1 = data.data[i].authors[1];
                  var autores = autorHtml + ' ' + 'y ' + ' ' + autor1;
                  var authorb1 = autor1.charAt(0);
                  var textoAuthorDividido1 = autor1.split(" ");
                  var numeroPalabras1 = textoAuthorDividido1.length;


                  if (numeroPalabras1 >= 4) {
                    nameAuthor1 = autor1.split(/\s+/, 2);
                    //var output = autores.split(/\s+/).pop();
                    //apellido1 es el apellido del autor
                    //nombreA es el nombre del autor
                    var output21 = textoAuthorDividido1[textoAuthorDividido1.length - 2];
                    var output22 = textoAuthorDividido1[textoAuthorDividido1.length - 1];
                    apellido1 = output21 + ' ' + output22;

                  }
                  else {
                    nameAuthor1 = autor1.split(/\s+/, 1);
                    //var output = autores.split(/\s+/).pop();
                    apellido1 = textoAuthorDividido1[textoAuthorDividido1.length - 1];

                  }
                  nombreA1 = (nameAuthor1.join(" "));
                  var authorbibliograpyIEEE1 = authorb1 + ' ' + apellido1;
                  var authorsb = authorbibliograpyIEEE + ' ' + 'y ' + ' ' + authorbibliograpyIEEE1;
                  var nombreAuthores = [nombreA, nombreA1];
                  var apellidoAuthores = [apellido, apellido1];
                  var apellidoAuthoresISO = apellido.toUpperCase() + ', ' + nombreA + ' ' + apellido1.toUpperCase() + ', ' + nombreA1;
                  var apellidoAuthoreshardvard = apellido + ', ' + nombreA.charAt(0) + '. ' + apellido1 + ', ' + nombreA1.charAt(0) + '.';

                }

                else {
                  var autor1 = '';
                  var authorb1 = '';
                  var output1 = '';
                  var authorbibliograpyIEEE1 = '';
                  var nombreA1 = '';
                  var apellido1 = '';


                }

              }

              for (var j = 0; j < 10; j++) {
                if (typeof data.data[i].authors[2] !== 'undefined') {
                  var autor2 = data.data[i].authors[2];
                  var autores = autorHtml + ', ' + autor1 + ' ' + 'y ' + ' ' + autor2;
                  var authorb2 = autor2.charAt(0);
                  var textoAuthorDividido2 = autor2.split(" ");
                  var numeroPalabras2 = textoAuthorDividido2.length;


                  if (numeroPalabras2 >= 4) {
                    nameAuthor2 = autor2.split(/\s+/, 2);
                    //var output = autores.split(/\s+/).pop();
                    //apellido2 es el apellido del autor
                    //nombreA es el nombre del autor
                    var output31 = textoAuthorDividido2[textoAuthorDividido2.length - 2];
                    var output32 = textoAuthorDividido2[textoAuthorDividido2.length - 1];
                    apellido2 = output31 + ' ' + output32;

                  }
                  else {
                    nameAuthor2 = autor2.split(/\s+/, 1);
                    //var output = autores.split(/\s+/).pop();
                    apellido2 = textoAuthorDividido2[textoAuthorDividido2.length - 1];

                  }
                  nombreA2 = (nameAuthor2.join(" "));
                  var authorbibliograpyIEEE2 = authorb2 + ' ' + apellido2;
                  var authorsb = authorbibliograpyIEEE + ' ' + ',' + ' ' + authorbibliograpyIEEE1 + ' ' + 'y ' + ' ' + authorbibliograpyIEEE2;
                  var nombreAuthores = [nombreA, nombreA1, nombreA2];
                  var apellidoAuthores = [apellido, apellido1, apellido2];
                  var apellidoAuthoresISO = apellido.toUpperCase() + ' ' + nombreA + '  ' + apellido1.toUpperCase() + ' ' + nombreA1 + ' ' + apellido2.toUpperCase() + ' ' + nombreA2;
                  var apellidoAuthoreshardvard = apellido + ', ' + nombreA.charAt(0) + '.' + apellido1 + ', ' + nombreA1.charAt(0) + '.' + apellido2 + ' ' + nombreA2.charAt(0) + '.';
                }
                else {
                  var autor2 = ' ';
                  var authorb2 = '';
                  var output2 = '';
                  var authorbibliograpyIEEE2 = '';
                  var nombreA2 = '';
                  var apellido2 = '';
                }

              }

              for (var j = 0; j < 10; j++) {
                if (typeof data.data[i].authors[3] !== 'undefined') {
                  var autor3 = data.data[i].authors[1];
                  var autores = autorHtml + ', ' + autor1 + ', ' + autor2 + ' ' + 'y ' + ' ' + autor3;
                  var authorb3 = autor3.charAt(0);
                  var textoAuthorDividido3 = autor3.split(" ");
                  var numeroPalabras3 = textoAuthorDividido3.length;

                  if (numeroPalabras3 >= 4) {
                    nameAuthor3 = autor3.split(/\s+/, 2);
                    //var output = autores.split(/\s+/).pop();
                    //apellido2 es el apellido del autor
                    //nombreA es el nombre del autor
                    var output41 = textoAuthorDividido3[textoAuthorDividido3.length - 2];
                    var output42 = textoAuthorDividido3[textoAuthorDividido3.length - 1];
                    apellido3 = output41 + ' ' + output42;

                  }
                  else {
                    nameAuthor3 = autor3.split(/\s+/, 1);
                    //var output = autores.split(/\s+/).pop();
                    apellido3 = textoAuthorDividido3[textoAuthorDividido3.length - 1];

                  }
                  nombreA3 = (nameAuthor3.join(" "));
                  var authorbibliograpyIEEE3 = authorb3 + ' ' + apellido3;
                  var authorsb = authorbibliograpyIEEE + ' ' + ',' + ' ' + authorbibliograpyIEEE1 + ', ' + ' ' + authorbibliograpyIEEE2 + ' ' + 'y ' + ' ' + authorbibliograpyIEEE3;
                  var nombreAuthores = [nombreA, nombreA1, nombreA2, nombreA3];
                  var apellidoAuthores = [apellido, apellido1, apellido2, apellido3];
                  var apellidoAuthoresISO = apellido.toUpperCase() + ', ' + nombreA + ' et al';
                  var apellidoAuthoreshardvard = apellido + ', ' + authorb + '., et al.';
                }
                else {
                  var autor3 = ' ';
                  var authorb3 = '';
                  var output3 = '';
                  var authorbibliograpyIEEE3 = '';
                  var nombreA3 = '';
                  var apellido3 = '';
                }


              }
              tamAut = nombreAuthores.length;
              tamAutap = apellidoAuthores.length;
              console.log("autores", authorsb, tamAut, tamAutap);
              console.log("autoreswkd:", nombreA + " " + apellido + " " + nombreA1 + " " + apellido1 + " " + nombreA2 + " " + apellido2 + " " + nombreA3 + " " + apellido3);


              for (var j = 0; j < 10; j++) {
                if (data.data[i].downloadUrl[j] !== 'undefined') {

                  var urlHtml = devolverHtmlUrl(data.data[i].downloadUrl[0].value);
                  //var url = data.data[i].downloadUrl[0].value;
                }
              }


              var imprimir =
                "<div class='card my-2'>" +
                "<div>" +
                "<b></b><br>" + "<a target='_blank' href=" + url + "><h4><b>" + title + "</b></h4></a>" +
                "<font color='#01549b'><h4><b> Publisher:</b></h4></font><h4><b>" + publisher + "</b></h4><br>" +
                "<button type='button' class='btn btn-outline-info' data-toggle='collapse' data-target='#demo" + i + "'>Leer más...</button>" +
                "<div id='demo" + i + "' class='collapse in'>" +
                "<font color='#01549b'><h4><b> Abstract:</b></h4></font>" + "<h4><b><p align='justify'>" + abstract + "</h4></b></p>" +
                // "<font color='#01549b'><h4><b> Keywords:</b></h4></font><h4><b>" + keywords + "</h4></b><br>" +
                //"<font color='#01549b'><h4><b> Category:</b></h4></font><h4><b>"+cate + "</h4></b><br>" +
                "<font color='#01549b'><h4><b> Authors: </b></h4></font><h4><b>" + autorHtml + "</h4><br><h4><b>" +
                autor1 + "</h4></b><br><h4><b>" + autor2 + "</h4></b><br><h4><b>" + autor3 + "</h4></b><br><h4><b>" +
                // "<div class='row'></b>" +


                <!-- Button trigger modal -->
                "<button type='button' class='btn btn-primary' data-toggle='modal' data-target='#exampleModal" + i + "'> Bibliografía </button>" +

                <!-- Modal -->
                "<div class='modal fade' id='exampleModal" + i + "' tabindex='-1' role='dialog' aria-labelledby='exampleModalLabel" + i + "' aria-hidden='true'>" +
                "<div class='modal-dialog modal-lg' role='document'>" +
                "<div class='modal-content'>" +
                "<div class='modal-header'>" +
                "<h5 class='modal-title' id='exampleModalLabel" + i + "'>Bibliografía</h5>" +
                "<button type='button' class='close' data-dismiss='modal' aria-label='Close'>" +
                "<span aria-hidden='true'>&times;</span>" +
                "</button>" +
                "</div>" +
                "<div class='modal-body'>" +

                "<label for='apa' class='col-2 col-form-label'><h4>APA</h4></label>" +
                "<div class='col-10'>" +
                "<p ALIGN='justify'>" + apellidoAuthoreshardvard + ".(" + year + ")." + title + ".<i> " + journal + " </i>,<i>" + volume + "</i>( " + number + " )," + pages + ". Recuperado de " + '<a target="_blank" href="' + url + '">' + url + '</a>' + "</p>" +
                "</div> " +

                "<label for='ieee' class='col-2 col-form-label'><h4>IEEE</h4></label>" +
                "<div class='col-10'>" +
                "<p ALIGN='justify'>" + authorsb + ',' + title + ', ' + "<i>" + journal + "</i>" + ', vol.' + volume + ', no.' + number + ', pp.' + pages + ',' + ' ' + year + "</p>" +

                "</div>" +
                "<label for='iso' class='col-2 col-form-label'><h4>ISO</h4></label>" +
                "<div class='col-10'>" +
                "<p ALIGN='justify'><h5>" + apellidoAuthoresISO + '(' + year.substr(-20, 4) + '), "' + title + '".En: ' + "<i>" + journal + "</i>[en línea]." + '. V.' + volume + ', no.' + number + ', pp.' + pages + "[consulta:" + hoy + "].Disponible en: " + '<a  target="_blank" href="' + url + '">' + url + '</a>' + "</h5></p>" +

                "</div>" +
                "<label for='harvard' class='col-2 col-form-label'><h4>Harvard</h4></label>" +
                "<div class='col-10'>" +
                "<p ALIGN='justify'>" + apellidoAuthoreshardvard + '(' + year.substr(-20, 4) + '), "' + title + '"' + ".<i>" + journal + "</i>," + volume + "(" + number + "),pp." + pages + ".Disponible en: " + '<a target="_blank" href="' + url + '">' + url + '</a>' + "[Consultado:" + hoy + "]</p>" +
                "</div>" +
                "<div class='modal-footer'>" +
                "<button type='button' class='btn btn-secondary' data-dismiss='modal'>Close</button>" +
                "</div></div>" +
                "</div> " +
                "</div> " +
                "</div> " +

                ////////////////////////////////////////////////////////////

                "<form action='/GuardarArticulo/crearArticuloQuemado' method='post'>" +
                "<input hidden type='text' name='title' value='" + title + "'>" +
                "<input hidden type='text' name='country' value='" + country + "'>" +
                "<input hidden type='text' name='number' value='" + number + "'>" +
                "<input hidden type='text' name='volume' value='" + volume + "'>" +
                "<input hidden type='text' name='issns' value='" + issns + "'>" +
                "<input hidden type='text' name='language' value='" + language + "'>" +
                "<input hidden type='text' name='year' value='" + year + "'>" +
                "<input hidden type='text' name='journal' value='" + journal + "'>" +
                "<input hidden type='text' name='editorial' value='" + editorial + "'>" +
                "<input hidden type='text' name='abstract' value='" + abstract + "'>" +
                "<input hidden type='text' name='keywords' value='" + keywords + "'>" +
                "<input hidden type='text' name='doi' value='" + doi + "'>" +
                "<input hidden type='text' name='link' value='" + url + "'>" +
                "<input hidden type='text' name='busqueda' value='" + busqueda + "'>" +
                "<input hidden type='text' name='authores' value='" + autores + "'>" +
                "<input hidden type='text' name='nombreAuthores' value='" + nombreA + "'>" +
                "<input hidden type='text' name='apellidoAuthores' value='" + apellido + "'>" +
                "<input hidden type='text' name='nombreAuthores1' value='" + nombreA1 + "'>" +
                "<input hidden type='text' name='apellidoAuthores1' value='" + apellido1 + "'>" +
                "<input hidden type='text' name='nombreAuthores2' value='" + nombreA2 + "'>" +
                "<input hidden type='text' name='apellidoAuthores2' value='" + apellido2 + "'>" +
                "<input hidden type='text' name='nombreAuthores3' value='" + nombreA3 + "'>" +
                "<input hidden type='text' name='apellidoAuthores3' value='" + apellido3 + "'>" +
                "<input hidden type='text' name='fkIdUser' value='" + parseInt(fkIdUser) + "'>" +
                "<input hidden type='number' name='numero_autores' value='" + tamAut + "'>" +
                "<input hidden type='text' name='category' value='" + cate + "'>" +
                "<input hidden type='text' name='pages' value='" + pages + "'>" +

                "<button class='btn btn-outline-success'>Guardar en biblioteca</button>" +

                "</div> " +
                "</form>" + "<br><br>" +
                "</div> "

              $("#resultado_json2").append()
              $("#resultado_json").append($(imprimir));

              /* title = $("#resultado_json").append("Titulo: " + data.records[i].title + "<br>");
               number= $("#resultado_json").append("Numero: " + data.records[i].number + "<br>");*/

            }

          }
        }

        function devolverHtmlUrl(arregloUrl){
          console.log("Arreglo Url: ",arregloUrl)

          htmlURL = '<a href= '+arregloUrl+'> ver PDF </a>'

          htmlURL = htmlURL +  '</ul>'
          console.log("HTML URL",htmlURL)
          return htmlURL
        }

        // Llamada al webservice
        function callWebService1()
        {
          var busqueda1 = document.getElementById("homepage-search-input").value;
          var busqueda = busqueda1.replace(/\s/g,"%20");
          if(busqueda==''){
            alert('Debes ingresar una plabra !');
          }else{
            var var1= "https://core.ac.uk/api-v2/articles/search/";
            var var2= "?page=1&pageSize=10&metadata=true&fulltext=false&citations=false&similar=false&duplicate=false&urls=false&faithfulMetadata=false&apiKey=7scnV9e3mTBKqirNjPlUO8whkZC1bxaA";
            mm= busqueda;
            console.log("Este es el valor del cookie:",mm);
            var concatenacion= var1+busqueda+var2;
            console.log("la url es:"+concatenacion);
            try {


              $.ajax({
                  url: concatenacion,
                  //url: "&jsoncallback=?",
                  type: 'GET',//tipo de peticion
                  dataType: 'json', //tipo de datos
                  //jsonpCallback: 'envoltorio',  //nombre de la funcion que envuelve la respuesta
                  error: function(xhr, status, error) {
                    alert("error");
                  },
                  success: function(msg) { webServiceResult1(msg) }
                }
              );
            }

            catch (err)
            {
              alert(err);
            }
          }
        }
      </script>

      </body>
      </html>



      <!--------------------------
      | Your Page Content Here END|
      -------------------------->
      <!-- /-------------------------------------------------------------------------------------------------------------/ -->
    </div><!-- /.container-fluid -->
  </section>
  <!-- /.content -->
</div>
<!-- /.content-wrapper -->

