<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-8">
          <h1>Inicio</h1>
        </div>
        <div class="col-sm-4">
          <ol class="breadcrumb pull-right">
            <li>
              <div class="">
                <button class="btn btn-secondary"
                        id="reload">
                  Recargar
                  <i class="fa fa-refresh" aria-hidden="true"></i>
                </button>
              </div>
            </li>
          </ol>
        </div>
      </div>
    </div><!-- /.container-fluid -->
  </section>

  <!-- Main content -->
  <section class="content">
    <div class="container-fluid">

      <!-- /-------------------------------------------------------------------------------------------------------------/ -->
      <!--------------------------
      | Your Page Content Here START|
      -------------------------->

      <h3 class="mt-4 mb-4">Autores</h3>

      <div class="row">
        <div class="col-md-4">
          <!-- Widget: user widget style 2 -->
          <div class="card card-widget widget-user-2">
            <!-- Add the bg color to the header using any of the bg-* classes -->
            <div class="widget-user-header bg-warning">
              <div class="widget-user-image">
                <img class="img-circle elevation-2" src="<%= MasterUrlService.base_url()%>images/maria-hallo.jpg" alt="User Avatar">
              </div>
              <!-- /.widget-user-image -->
              <h3 class="widget-user-username">Phd. Maria Hallo</h3>
              <h5 class="widget-user-desc">Investigadora</h5>
            </div>
            <div class="card-footer p-0">
              <ul class="nav flex-column">
                <li class="nav-item">
                  <a href="https://fis.epn.edu.ec/" class="nav-link" target="_blank">
                    Facultad de Ingeniería de Sistemas (FIS)
                  </a>
                </li>
                <li class="nav-item">
                  <a href="https://www.epn.edu.ec/" class="nav-link" target="_blank">
                    Escuela Politécnica Nacional del Ecuador (EPN)
                  </a>
                </li>
                <li class="nav-item">
                  <a href="https://fis.epn.edu.ec/index.php?option=com_content&view=article&id=366&catid=37&Itemid=233" class="nav-link" target="_blank">
                    Teléfono: (+593) 2 2976 300
                  </a>
                </li>
                <li class="nav-item">
                  <a href="https://imagenfis.epn.edu.ec/index.php/servicios/directorio-fis/14-maria-hallo" class="nav-link" target="_blank">
                    email: maria.hallo@epn.edu.ec
                  </a>
                </li>
              </ul>
            </div>
          </div>
          <!-- /.widget-user -->
        </div>
        <!-- /.col -->
        <div class="col-md-4">
          <!-- Widget: user widget style 1 -->
          <div class="card card-widget widget-user">
            <!-- Add the bg color to the header using any of the bg-* classes -->
            <div class="widget-user-header bg-info-active">
              <h3 class="widget-user-username">Lenin Montalvo</h3>
              <h5 class="widget-user-desc">Desarrollador</h5>
            </div>
            <div class="widget-user-image">
              <img class="img-circle elevation-2" src="<%= MasterUrlService.base_url()%>images/lenin-montalvo.jpg" alt="User Avatar">
            </div>
            <div class="card-footer">
              <div class="row">
                <div class="col-sm-4 border-right">
                  <div class="description-block">
                    <h5 class="description-header">QUITO</h5>
                    <span class="description-text">CIUDAD</span>
                  </div>
                  <!-- /.description-block -->
                </div>
                <!-- /.col -->
                <div class="col-sm-4 border-right">
                  <div class="description-block">
                    <h5 class="description-header">EPN</h5>
                    <span class="description-text">ESTUDIANTE</span>
                  </div>
                  <!-- /.description-block -->
                </div>
                <!-- /.col -->
                <div class="col-sm-4">
                  <div class="description-block">
                    <h5 class="description-header">FIS</h5>
                    <span class="description-text">FACULTAD</span>
                  </div>
                  <!-- /.description-block -->
                </div>
                <!-- /.col -->
              </div>
              <!-- /.row -->
            </div>
          </div>
          <!-- /.widget-user -->
        </div>
        <!-- /.col -->
        <div class="col-md-4">
          <!-- Widget: user widget style 1 -->
          <div class="card card-widget widget-user">
            <!-- Add the bg color to the header using any of the bg-* classes -->
            <div class="widget-user-header text-white"
                 style="background: url('<%= MasterUrlService.base_url()%>theme/dist/img/photo1.png') center center;">
              <h3 class="widget-user-username">Jonathan Pachacama</h3>
              <h5 class="widget-user-desc">Desarrollador</h5>
            </div>
            <div class="widget-user-image">
              <img class="img-circle" src="<%= MasterUrlService.base_url()%>images/jonathan-pachacama.jpg" alt="User Avatar">
            </div>
            <div class="card-footer">
              <div class="row">
                <div class="col-sm-4 border-right">
                  <div class="description-block">
                    <h5 class="description-header">QUITO</h5>
                    <span class="description-text">CIUDAD</span>
                  </div>
                  <!-- /.description-block -->
                </div>
                <!-- /.col -->
                <div class="col-sm-4 border-right">
                  <div class="description-block">
                    <h5 class="description-header">EPN</h5>
                    <span class="description-text">ESTUDIANTE</span>
                  </div>
                  <!-- /.description-block -->
                </div>
                <!-- /.col -->
                <div class="col-sm-4">
                  <div class="description-block">
                    <h5 class="description-header">FIS</h5>
                    <span class="description-text">FACULTAD</span>
                  </div>
                  <!-- /.description-block -->
                </div>
                <!-- /.col -->
              </div>
              <!-- /.row -->
            </div>
          </div>
          <!-- /.widget-user -->
        </div>
        <!-- /.col -->
      </div>

      <!--<h5 class="mb-2">Info Box</h5>-->
      <!--<div class="row">-->
        <!--<div class="col-md-3 col-sm-6 col-12">-->
          <!--<div class="info-box">-->
            <!--<span class="info-box-icon bg-info"><i class="fa fa-envelope-o"></i></span>-->

            <!--<div class="info-box-content">-->
              <!--<span class="info-box-text">Messages</span>-->
              <!--<span class="info-box-number">0</span>-->
            <!--</div>-->
            <!--&lt;!&ndash; /.info-box-content &ndash;&gt;-->
          <!--</div>-->
          <!--&lt;!&ndash; /.info-box &ndash;&gt;-->
        <!--</div>-->
        <!--&lt;!&ndash; /.col &ndash;&gt;-->
        <!--<div class="col-md-3 col-sm-6 col-12">-->
          <!--<div class="info-box">-->
            <!--<span class="info-box-icon bg-success"><i class="fa fa-flag-o"></i></span>-->

            <!--<div class="info-box-content">-->
              <!--<span class="info-box-text">Bookmarks</span>-->
              <!--<span class="info-box-number">0</span>-->
            <!--</div>-->
            <!--&lt;!&ndash; /.info-box-content &ndash;&gt;-->
          <!--</div>-->
          <!--&lt;!&ndash; /.info-box &ndash;&gt;-->
        <!--</div>-->
        <!--&lt;!&ndash; /.col &ndash;&gt;-->
        <!--<div class="col-md-3 col-sm-6 col-12">-->
          <!--<div class="info-box">-->
            <!--<span class="info-box-icon bg-warning"><i class="fa fa-files-o"></i></span>-->

            <!--<div class="info-box-content">-->
              <!--<span class="info-box-text">Uploads</span>-->
              <!--<span class="info-box-number">0</span>-->
            <!--</div>-->
            <!--&lt;!&ndash; /.info-box-content &ndash;&gt;-->
          <!--</div>-->
          <!--&lt;!&ndash; /.info-box &ndash;&gt;-->
        <!--</div>-->
        <!--&lt;!&ndash; /.col &ndash;&gt;-->
        <!--<div class="col-md-3 col-sm-6 col-12">-->
          <!--<div class="info-box">-->
            <!--<span class="info-box-icon bg-danger"><i class="fa fa-star-o"></i></span>-->

            <!--<div class="info-box-content">-->
              <!--<span class="info-box-text">Likes</span>-->
              <!--<span class="info-box-number">0</span>-->
            <!--</div>-->
            <!--&lt;!&ndash; /.info-box-content &ndash;&gt;-->
          <!--</div>-->
          <!--&lt;!&ndash; /.info-box &ndash;&gt;-->
        <!--</div>-->
        <!--&lt;!&ndash; /.col &ndash;&gt;-->
      <!--</div>-->
      <!--&lt;!&ndash; /.row &ndash;&gt;-->

      <!--&lt;!&ndash; =========================================================== &ndash;&gt;-->

      <!--<h4 class="mb-2 mt-4">Cards</h4>-->
      <!--<div class="row">-->
        <!--<div class="col-md-3">-->
          <!--<div class="card card-default collapsed-card">-->
            <!--<div class="card-header">-->
              <!--<h3 class="card-title">Expandable</h3>-->

              <!--<div class="card-tools">-->
                <!--<button type="button" class="btn btn-tool" data-widget="collapse"><i class="fa fa-plus"></i>-->
                <!--</button>-->
              <!--</div>-->
              <!--&lt;!&ndash; /.card-tools &ndash;&gt;-->
            <!--</div>-->
            <!--&lt;!&ndash; /.card-header &ndash;&gt;-->
            <!--<div class="card-body">-->
              <!--The body of the card-->
            <!--</div>-->
            <!--&lt;!&ndash; /.card-body &ndash;&gt;-->
          <!--</div>-->
          <!--&lt;!&ndash; /.card &ndash;&gt;-->
        <!--</div>-->
        <!--&lt;!&ndash; /.col &ndash;&gt;-->
        <!--<div class="col-md-3">-->
          <!--<div class="card card-success">-->
            <!--<div class="card-header">-->
              <!--<h3 class="card-title">Removable</h3>-->

              <!--<div class="card-tools">-->
                <!--<button type="button" class="btn btn-tool" data-widget="remove"><i class="fa fa-times"></i>-->
                <!--</button>-->
              <!--</div>-->
              <!--&lt;!&ndash; /.card-tools &ndash;&gt;-->
            <!--</div>-->
            <!--&lt;!&ndash; /.card-header &ndash;&gt;-->
            <!--<div class="card-body">-->
              <!--The body of the card-->
            <!--</div>-->
            <!--&lt;!&ndash; /.card-body &ndash;&gt;-->
          <!--</div>-->
          <!--&lt;!&ndash; /.card &ndash;&gt;-->
        <!--</div>-->
        <!--&lt;!&ndash; /.col &ndash;&gt;-->
        <!--<div class="col-md-3">-->
          <!--<div class="card card-warning">-->
            <!--<div class="card-header">-->
              <!--<h3 class="card-title">Collapsable</h3>-->

              <!--<div class="card-tools">-->
                <!--<button type="button" class="btn btn-tool" data-widget="collapse"><i class="fa fa-minus"></i>-->
                <!--</button>-->
              <!--</div>-->
              <!--&lt;!&ndash; /.card-tools &ndash;&gt;-->
            <!--</div>-->
            <!--&lt;!&ndash; /.card-header &ndash;&gt;-->
            <!--<div class="card-body">-->
              <!--The body of the card-->
            <!--</div>-->
            <!--&lt;!&ndash; /.card-body &ndash;&gt;-->
          <!--</div>-->
          <!--&lt;!&ndash; /.card &ndash;&gt;-->
        <!--</div>-->
        <!--&lt;!&ndash; /.col &ndash;&gt;-->
        <!--<div class="col-md-3">-->
          <!--<div class="card card-danger">-->
            <!--<div class="card-header">-->
              <!--<h3 class="card-title">Loading state</h3>-->
            <!--</div>-->
            <!--<div class="card-body">-->
              <!--The body of the card-->
            <!--</div>-->
            <!--&lt;!&ndash; /.card-body &ndash;&gt;-->
            <!--&lt;!&ndash; Loading (remove the following to stop the loading)&ndash;&gt;-->
            <!--<div class="overlay">-->
              <!--<i class="fa fa-refresh fa-spin"></i>-->
            <!--</div>-->
            <!--&lt;!&ndash; end loading &ndash;&gt;-->
          <!--</div>-->
          <!--&lt;!&ndash; /.card &ndash;&gt;-->
        <!--</div>-->
        <!--&lt;!&ndash; /.col &ndash;&gt;-->
      <!--</div>-->
      <!--&lt;!&ndash; /.row &ndash;&gt;-->



      <!-- /.row -->
      <!--------------------------
      | Your Page Content Here END|
       -------------------------->
      <!-- /-------------------------------------------------------------------------------------------------------------/ -->
    </div><!-- /.container-fluid -->
  </section>
  <!-- /.content -->
</div>
<!-- /.content-wrapper -->
