<!-- Control Sidebar -->
<aside class="control-sidebar control-sidebar-dark">
  <!-- Control sidebar content goes here -->
  <div class="p-3">
    <h5><i class="fa fa-gears"></i> Configuración general</h5>
    <p>Variantes de colores:</p>
  </div>
</aside>
<!-- /.control-sidebar -->

<!-- Main Footer -->
<footer class="main-footer">
  <!-- To the right -->
  <div class="float-right d-none d-sm-inline">
    Facultad de Ingenieria en Sistemas
  </div>
  <!-- Default to the left -->
  <strong>Copyright &copy; 2018 <a href="https://www.epn.edu.ec/">Escuela Politecnica Nacional</a>.</strong> All rights reserved.</footer>
