

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
  <!-- Content Header (Page header) -->

  <section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1>Nuevo</h1>
        </div>
        <div class="col-sm-4">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="<%= MasterUrlService.base_url()%>"><i class="fa fa-home"></i> Inicio</a></li>
            <li class="breadcrumb-item active"> Nuevo </li>
          </ol>
        </div>
        <div class="col-sm-2">
          <ol class="breadcrumb pull-right">
            <li>
              <div class="">
                <button class="btn btn-secondary"
                        id="reload">
                  Recargar
                  <i class="fa fa-refresh" aria-hidden="true"></i>
                </button>
              </div>
            </li>
          </ol>
        </div>
      </div>
    </div><!-- /.container-fluid -->
  </section>

  <section class="content">
    <div class="container-fluid">
      <!-- /-------------------------------------------------------------------------------------------------------------/ -->
      <!--------------------------
      | Your Page Content Here START|
      -------------------------->



      <div class="row">
        <div class="col-12">
          <div class="card card-primary card-outline">
            <div class="card-header no-border">
              <font color="#01549b"><h3 class="card-title">Añadir artículo a mi biblioteca</h3></font>
              <div class="card-tools">
                <button type="button" class="btn btn-tool" data-widget="collapse">
                  <i class="fa fa-minus"></i>
                </button>
              </div>
            </div>
            <div class="card-body p-0">
              <div class="card-body">








                <!--CODIGO FER-->



                <form action="/crearMisArticulos" method="post">
                  <input hidden
                         class="form-control"
                         type="number"
                         id="idUsuario"
                         name="idUsuario"
                         value="<%=req.cookies.User%>">

                  <div class="form-group row">

                    <label for="title" class="col-2 col-form-label"><h5><b>Título</b></h5></label>

                    <div class="col-10">

                      <input class="form-control"
                             type="text"
                             placeholder="Ingrese el título del artículo"
                             id="title"
                             name="title"
                             required
                      >

                    </div>

                  </div>

                  <div class="form-group row">
                    <label for="country" class="col-2 col-form-label"><h5><b>País</b></h5></label>
                    <div class="col-10">
                      <input class="form-control" type="text"
                             placeholder="Ingrese el país origen del artículo"
                             name="country"
                             id="country">
                    </div>
                  </div>

                  <div class="form-group row">
                    <label for="number" class="col-2 col-form-label"><h5><b>Número</b></h5></label>
                    <div class="col-10">
                      <input class="form-control" type="number" placeholder="Ingrese el número de la revista" id="number"
                             name="number"
                             required
                      >
                    </div>
                  </div>

                  <div class="form-group row">
                    <label for="volume" class="col-2 col-form-label"><h5><b>Volumen</b></h5></label>
                    <div class="col-10">
                      <input class="form-control" type="number" placeholder="Ingrese el volumen de la revista"
                             name="volume"
                             id="volume"
                             required
                      >
                    </div>
                  </div>


                  <div class="form-group row">
                    <label for="year" class="col-2 col-form-label"><h5><b>Año</b></h5></label>
                    <div class="col-10">
                      <input class="form-control" type="number" placeholder="Ingrese el año de publicación"
                             name="year"
                             id="year"
                             required
                      >
                    </div>
                  </div>

                  <div class="form-group row">
                    <label for="journal" class="col-2 col-form-label"><h5><b>Revista</b></h5></label>
                    <div class="col-10">
                      <input class="form-control" type="text" placeholder="Ingrese el nombre de la Revista"
                             name="journal"
                             id="journal"
                             required
                      >
                    </div>
                  </div>

                  <input hidden
                         class="form-control"
                         type="text"
                         id="typejournal"
                         name="typejournal"
                         value="journal">

                  <div class="form-group row">
                    <label for="editorial" class="col-2 col-form-label"><h5><b>Editorial</b></h5></label>
                    <div class="col-10">
                      <input class="form-control" type="text" placeholder="Ingrese el editorial de la revista"
                             name="editorial"
                             id="editorial"
                             required
                      >
                    </div>
                  </div>


                  <div class="form-group row">
                    <label for="abstract" class="col-2 col-form-label"><h5><b>Resumen</b></h5></label>
                    <div class="col-10">
      <textarea
        id="abstract"
        name="abstract"
        rows="5" cols="110"


      ></textarea>
                    </div>
                  </div>

                  <div class="form-group row">
                    <label for="issns" class="col-2 col-form-label"><h5><b>issns</b></h5></label>
                    <div class="col-10">
                      <input class="form-control" type="text" placeholder="Ingrese el issns del artículo"
                             name="issns"
                             id="issns">
                    </div>
                  </div>

                  <div class="form-group row">
                    <label for="DOI" class="col-2 col-form-label"><h5><b>DOI</b></h5></label>
                    <div class="col-10">
                      <input class="form-control" type="text" placeholder="Ingrese el doi del artículo"
                             name="doi"
                             id="doi">
                    </div>
                  </div>

                  <div class="form-group row">
                    <label for="language" class="col-2 col-form-label"><h5><b>Idioma</b></h5></label>
                    <div class="col-10">
                      <input class="form-control" type="text" placeholder="Ingrese el idioma en que esta escrito el artículo"
                             name="language"
                             id="language"
                             required>
                    </div>
                  </div>

                  <div class="form-group row">
                    <label for="keywords" class="col-2 col-form-label"><h5><b>Palabras clave</b></h5></label>
                    <div class="col-10">
                      <input class="form-control" type="text" placeholder="Ingrese las palabras clave del artículo"
                             name="keywords"
                             id="keywords"

                      >
                    </div>
                  </div>

                  <div class="form-group row">
                    <label for="link" class="col-2 col-form-label"><h5><b>Link</b></h5></label>
                    <div class="col-10">
                      <input class="form-control" type="text" placeholder="Introduzca la url donde se encuentra el artículo"
                             name="link"
                             id="link">
                    </div>
                  </div>

                  <div class="form-group row">
                    <div class="col-10">
                      <input hidden class="form-control" name="authors" id="authors">
                    </div>
                  </div>

                  <div class="form-group row">
                    <label for="nombreA" class="col-2 col-form-label"><h5><b>Nombre Autor</b></h5></label>
                    <div class="col-4">
                      <input class="form-control" type="text" placeholder="Ingrese el nombre del autor"
                             name="nombreA"
                             id="nombreA"
                             required
                             onkeyup="validar();">
                    </div>
                    <label for="apellido" class="col-2 col-form-label"><h5><b>Apellido Autor</b></h5></label>
                    <div class="col-4">
                      <input class="form-control" type="text" placeholder="Ingrese el apellido del autor"
                             name="apellido"
                             id="apellido"
                             required
                             onkeyup="validar();">
                    </div>
                  </div>

                  <div id='oculto' style='display:none;'>
                    <input type="button" class="btn btn-info" value="-" onclick="ocultar(); limpiar1()">
                    <br>

                    <div class="form-group row">
                      <label for="nombreA1" class="col-2 col-form-label"><h5><b>Nombre Autor2</b></h5></label>
                      <div class="col-4">
                        <input class="form-control" type="text" placeholder="Ingrese el nombre del autor"
                               name="nombreA1"
                               id="nombreA1"
                               onkeyup="validar1();">
                      </div>
                      <label for="apellido1" class="col-2 col-form-label"><h5><b>Apellido Autor2</b></h5></label>
                      <div class="col-4">
                        <input class="form-control" type="text" placeholder="Ingrese el nombre del autor"
                               name="apellido1"
                               id="apellido1"
                               onkeyup="validar1();">
                      </div>
                    </div>

                    <input type="button" style='display:none' class="btn btn-info" id="catego2" value="+" onclick="mostrar1()" disabled=true>

                  </div>

                  <div id='oculto2' style='display:none;'>

                    <input type="button" class="btn btn-info" value="-" onclick="ocultar1();limpiar2()">
                    <br>
                    <div class="form-group row">
                      <label for="nombreA2" class="col-2 col-form-label"><h5><b>Nombre Autor3</b></h5></label>
                      <div class="col-4">
                        <input class="form-control" type="text" placeholder="Ingrese el nombre del autor"
                               name="nombreA2"
                               id="nombreA2"
                               onkeyup="validar2();">
                      </div>
                      <label for="apellido2" class="col-2 col-form-label"><h5><b>Apellido Autor3</b></h5></label>
                      <div class="col-4">
                        <input class="form-control" type="text" placeholder="Ingrese el nombre del autor"
                               name="apellido2"
                               id="apellido2"
                               onkeyup="validar2();">
                      </div>
                    </div>
                    <input type="button" style='display:none' class="btn btn-info" id="catego3" value="+" onclick="mostrar2()" disabled=true>
                  </div>

                  <div id='oculto3' style='display:none;'>

                    <input type="button" class="btn btn-info" value="-" onclick="ocultar2();limpiar3()">
                    <br>
                    <div class="form-group row">
                      <label for="nombreA3" class="col-2 col-form-label"><h5><b>Nombre Autor4</b></h5></label>
                      <div class="col-4">
                        <input class="form-control" type="text" placeholder="Ingrese el nombre del autor"
                               name="nombreA3"
                               id="nombreA3"
                        >
                      </div>
                      <label for="apellido3" class="col-2 col-form-label"><h5><b>Apellido Autor4</b></h5></label>
                      <div class="col-4">
                        <input class="form-control" type="text" placeholder="Ingrese el nombre del autor"
                               name="apellido3"
                               id="apellido3"
                        >
                      </div>
                    </div>
                  </div>

                  <input type="button" style='display:none;'class="btn btn-info" id="catego" value="+" onclick="mostrar()" disabled=true>
                  <br>
                  <br>
                  <input hidden type='number'  id="numero_autores" name='numero_autores'>

                  <script type="text/javascript">


                    function mostrar(){
                      document.getElementById('oculto').style.display = 'block';
                      document.getElementById('catego').style.display = 'none';

                    }

                    function mostrar1(){
                      document.getElementById('oculto2').style.display = 'block';
                      document.getElementById('catego2').style.display = 'none';
                    }
                    function mostrar2(){
                      document.getElementById('oculto3').style.display = 'block';
                      document.getElementById('catego3').style.display = 'none';
                    }

                    function ocultar(){
                      document.getElementById('oculto').style.display = 'none';
                      document.getElementById('oculto2').style.display = 'none';
                      document.getElementById('oculto3').style.display = 'none';
                      document.getElementById('catego').style.display = 'block';

                    }
                    function ocultar1(){
                      document.getElementById('oculto2').style.display = 'none';
                      document.getElementById('oculto3').style.display = 'none';
                      document.getElementById('catego2').style.display = 'block';

                    }
                    function ocultar2(){
                      document.getElementById('oculto3').style.display = 'none';
                      document.getElementById('catego3').style.display = 'block';

                    }

                    function validar(){
                      var text7 = document.getElementById("nombreA");
                      var text8 = document.getElementById("apellido");


                      if(text7.value != "" && text8.value != ""){
                        document.getElementById("catego").disabled = false;
                        document.getElementById("catego").style.display = 'block';


                      }else{
                        document.getElementById('oculto').style.display = 'none';
                        document.getElementById('oculto2').style.display = 'none';
                        document.getElementById('oculto3').style.display = 'none';
                        document.getElementById("catego").disabled = true;

                      }

                    }

                    function validar1(){
                      var text7 = document.getElementById("nombreA");
                      var text8 = document.getElementById("apellido");
                      var text1 = document.getElementById("nombreA1");
                      var text2 = document.getElementById("apellido1");


                      if(text1.value != "" && text2.value != ""){

                        document.getElementById("catego2").disabled = false;
                        document.getElementById("catego2").style.display = 'block';
                        document.getElementById("catego").style.display = 'none';

                      }else{
                        document.getElementById('oculto2').style.display = 'none';
                        document.getElementById('oculto3').style.display = 'none';
                        document.getElementById("catego2").disabled = true;
                      }

                    }

                    function validar2(){

                      var text7 = document.getElementById("nombreA");
                      var text8 = document.getElementById("apellido");
                      var text1 = document.getElementById("nombreA1");
                      var text2 = document.getElementById("apellido1");
                      var text3 = document.getElementById("nombreA2");
                      var text4 = document.getElementById("apellido2");


                      if(text3.value != "" && text4.value != ""){
                        document.getElementById("catego3").style.display = 'block';
                        document.getElementById("catego3").disabled = false;

                      }else{
                        document.getElementById('oculto3').style.display = 'none';
                        document.getElementById("catego3").disabled = true;

                      }

                    }

                    function Autores(){
                      var text7 = document.getElementById("nombreA");
                      var text8 = document.getElementById("apellido");
                      var text1 = document.getElementById("nombreA1");
                      var text2 = document.getElementById("apellido1");
                      var text3 = document.getElementById("nombreA2");
                      var text4 = document.getElementById("apellido2");
                      var text5 = document.getElementById("nombreA3");
                      var text6 = document.getElementById("apellido3");

                      var Nombre1 = text7.value+' '+text8.value;
                      var Nombre2 = text1.value+' '+text2.value
                      var Nombre3 = text3.value+' '+text4.value
                      var Nombre4 = text5.value+' '+text6.value

                      if(Nombre1!= ' '&&Nombre2==' '&&Nombre3==' '&&Nombre4==' '){
                        var autor1= text7.value +' '+ text8.value;
                        var autores =[autor1];
                        document.getElementById("authors").value = autor1;

                      }
                      if(Nombre1!= ' '&&Nombre2!=' '&&Nombre3==' '&&Nombre4==' '){
                        var autor1= text7.value +' '+ text8.value;
                        var autor2= text1.value +' '+ text2.value;
                        var autores =[autor1,autor2];
                        document.getElementById("authors").value = autor1+'; '+autor2;
                      }
                      if(Nombre1!= ' '&&Nombre2!=' '&&Nombre3!=' '&&Nombre4==' '){
                        var autor1= text7.value +' '+ text8.value;
                        var autor2= text1.value +' '+ text2.value;
                        var autor3= text3.value +' '+ text4.value;
                        var autores =[autor1,autor2,autor3];
                        document.getElementById("authors").value = autor1+'; '+autor2+'; '+autor3;
                      }
                      if(Nombre1!= ' '&&Nombre2!=' '&&Nombre3!=' '&&Nombre4!=' '){
                        var autor1= text7.value +' '+ text8.value;
                        var autor2= text1.value +' '+ text2.value;
                        var autor3= text3.value +' '+ text4.value;
                        var autor4= text5.value +' '+ text6.value;
                        var autores =[autor1,autor2,autor3,autor4];
                        document.getElementById("authors").value = autor1+'; '+autor2+'; '+autor3+'; '+autor4;
                      }
                      tamAutap=autores.length;
                      console.log("tamaño:",tamAutap);
                      console.log("autores", autor1+' '+autor2+' '+autor3+' '+autor4);
                      document.getElementById("numero_autores").value = tamAutap;
                    }



                    function limpiar1(){
                      document.getElementById("nombreA1").value = "";
                      document.getElementById("apellido1").value = "";
                    }
                    function limpiar2(){
                      document.getElementById("nombreA2").value = "";
                      document.getElementById("apellido2").value = "";
                    }
                    function limpiar3(){
                      document.getElementById("nombreA3").value = "";
                      document.getElementById("apellido3").value = "";
                    }

                  </script>




                  <div class="form-group row">
                    <label for="category" class="col-2 col-form-label"><h5><b>Categoría</b></h5></label>
                    <div class="col-10">
                      <input class="form-control" type="text" placeholder="Ingresa la categoría a la que pertenece tu articulo"
                             name="category"
                             id="category"
                             required
                      >
                    </div>
                  </div>

                  <div class="form-group row">
                    <label for="starpage" class="col-2 col-form-label"><h5><b>Página inicio</b></h5></label>
                    <div class="col-4">
                      <input class="form-control" type="number" placeholder="Ingrese el Num. página de inicio" name="starpage" id="starpage" required>
                    </div>
                    <label for="endpage" class="col-2 col-form-label"><h5><b>Página final</b></h5></label>
                    <div class="col-4">
                      <input class="form-control" type="number" placeholder="Ingrese el Num. página de fi" name="endpage" id="endpage" required>

                    </div>
                  </div>

                  <div class="form-group row">
                    <label for="notas" class="col-2 col-form-label"><h5><b>Notas</b></h5></label>
                    <div class="col-10">
                      <textarea
                        id="notas"
                        name="notas"
                        rows="5" cols="110">

                      </textarea>
                    </div>
                  </div>


                  <button
                    onclick="Autores()" class="btn btn-outline-success">Guardar</button>

                  <button type="reset"
                          class="btn btn-outline-warning">Limpiar</button>

                </form>
                <br>
                <br>
                <br>

                <!--./CODIGO FER-->

              </div><!-- /.card-body -->
              <div class="card-footer"></div>
            </div>
          </div>
        </div>
      </div>
      <!--/.card-->

      <!--------------------------
      | Your Page Content Here END|
      -------------------------->
      <!-- /-------------------------------------------------------------------------------------------------------------/ -->
    </div><!-- /.container-fluid -->
  </section>
  <!-- /.content -->
</div>
<!-- /.content-wrapper -->








