<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <!-- Main content -->
  <section class="content container-fluid">


    <!-- /-------------------------------------------------------------------------------------------------------------/ -->

    <!--------------------------
    | Your Page Content Here |
    -------------------------->




    <html ng-app="appRecommender">
<body ng-controller="Controller">
<div id="containerMain" class="row">
  <div id="TitleURI" class="row">
    <div class="col-sm-12">
      <h1>Resultados de publicaciones de la misma área de interés relacionado con el recurso <a href="http://acm.rkbexplorer.com/id/100233">http://acm.rkbexplorer.com/id/100233</a><br></h1>
    </div>
  </div>
  <p>los resultados de la ejecución de la consulta SPARQL muestra los títulos de las publicaciones de la misma área de interés de la publicación seleccionada.
    Las propiedades utilizadas en la consulta son akt: addresses-generic-area-of-interest y akt: has-title.
  </p>
  <br>
  <div class="form-group row">
    <label class="col-2 col-form-label">Query: </label>
  </div>
  <div class="col-10">
    <textarea
      class="form-control"
      id="querySparql"
      name="querySparql"
      rows="5"
      cols="80">
      SELECT DISTINCT ?t
      WHERE {?p akt:addresses-generic-area-of-interest ?o. <http://acm.rkbexplorer.com/id/100233> akt:addresses-generic-area-of-interest ?o. ?p akt:has-title ?t}
      Limit 20


  </textarea>
  </div>
  <div class="container" style="background-color: black">
    <div class="row">
      <img class="img-cabecera"
           src="https://pict.acm.org/Pulzion17/images/ACM%20logo.png"
           alt=""
           width="100%"
           height="400" >
    </div>
    <br>
    <div class="row">
      <div class="col-md-4" ng-repeat="article in responseJson;" >
        <div class="card">
          <img class="card-img-top"
               src="http://blog.ciat.cgiar.org/wp-content/uploads/magazines.jpg"
               alt="Card image cap"  height="150">

          <form action="/RecommenderModule/LinkPublication/createLinkToAPublication" method="post">
            <div class="fondo">
              <h3>Titulo relacionados a la URI</h3>
              <div class="form-group row">
                <label class="col-2 col-form-label">Valor</label>
                <div class="col-10">
                  <input class="form-control" type="text"  value="{{responseJson[$index].title.value}}" id="" name="">
                </div>
              </div>
              <div class="form-group row">
                <label class="col-2 col-form-label">tipo</label>
                <div class="col-10">
                  <input class="form-control" type="text"  value="{{responseJson[$index].title.type}}" id="" name="">
                </div>
              </div>
              <button class="btn btn-success" type="submit">Guardar</button>
            </div>
          </form>
          <br>
        </div><br>

      </div>
      <div class="col-md-4"></div>
      <div class="col-md-4"></div>
    </div>
    <br>
  </div>
</div>
<script>


  var app = angular.module("appRecommender",[]);
  app.controller("Controller",function ($scope,$http) {

    $scope.responseJson= [];

    let endPointAcm ="http://acm.rkbexplorer.com/sparql/";
    let queryParametersSparql = "?format=json&query=";
    let apiAcm = endPointAcm + queryParametersSparql  //api de ACM con sus parametros

    let id_Prefix = "PREFIX+id%3A%3Chttp%3A%2F%2Facm.rkbexplorer.com%2Fid%2F%3E%0D%0A";
    let rdf_Prefix = "PREFIX+rdf%3A%3Chttp%3A%2F%2Fwww.w3.org%2F1999%2F02%2F22-rdf-syntax-ns%23%3E%0D%0A";
    let rdfs_Prefix = "PREFIX+rdfs%3A%3Chttp%3A%2F%2Fwww.w3.org%2F2000%2F01%2Frdf-schema%23%3E%0D%0A";
    let akt_Prefix = "PREFIX+akt%3A%3Chttp%3A%2F%2Fwww.aktors.org%2Fontology%2Fportal%23%3E%0D%0A";
    let owl_Prefix = "PREFIX+owl%3A%3Chttp%3A%2F%2Fwww.w3.org%2F2002%2F07%2Fowl%23%3E%0D%0A";
    let akts_Prefix = "PREFIX+akts%3A%3Chttp%3A%2F%2Fwww.aktors.org%2Fontology%2Fsupport%23%3E%0D%0A";

    let prefix = id_Prefix+rdf_Prefix+rdfs_Prefix+akt_Prefix+owl_Prefix+akt_Prefix+akts_Prefix  //Prefijos Publicaciones ACM (Tomar en cuenta que akt_Prefix se repite para que funcione la consulta)

    let select = "SELECT+DISTINCT+%3Ftitle+%0D%0A";
    let where = "\n" +
      "WHERE+%7B%3Fp+akt%3Aaddresses-generic-area-of-interest+%3Fo.+%3Chttp%3A%2F%2Facm.rkbexplorer.com%2Fid%2F100233%3E+akt%3Aaddresses-generic-area-of-interest+%3Fo.+%3Fp+akt%3Ahas-title+%3Ftitle%7D";
    let limit = "Limit+20";
    let querySparql = select+where+limit; //consulta Sparql

    let concatenation = apiAcm+prefix+querySparql;

    $http.get(concatenation)
      .success(function (data){
        console.log(data);
        $scope.responseJson = data.results.bindings;
        console.log("la url es:" + concatenation);
        console.log("numero de arutores:" + $scope.responseJson.length);

        for(let i = 0;i<$scope.responseJson.length;i ++){
          let titleValue = $scope.responseJson[i].title.value
          let titleType = $scope.responseJson[i].title.type

          console.log(i+1+": valor de nombre es:"+ titleValue);
          console.log(i+1+": tipo de nombre es:"+ titleType);

        }
      })
      .error(function (err) {
      });

  });
</script>
<br><br>
</body>
</html>


    <!-- /-------------------------------------------------------------------------------------------------------------/ -->
  </section>
  <!-- /.content -->
</div>
<!-- /.content-wrapper -->




