
<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-8">
    <h1>Articulos sincronizados a Wikindx</h1>
    <p>Para mostrar los metadatos relacionado, escoja uno de los articulos guardados en wikindx:</p>
  </div>
  <div class="col-md-2"></div>
</div>



<br><br><br><br>

<form action="/recommendationsWkx">
  <div class="form-group row">
    <label for="busqueda" class="col-4 col-form-label">
      Busque por Titulo del articulo
    </label>
    <div class="col-4">
      <input class="form-control" type="text" placeholder="Buscar por Titulo" id="busqueda"
             name="busqueda">
    </div>
  </div>
  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
      <button class="btn btn-success btn-block">Buscar</button>
    </div>
    <div class="col-md-3"></div>
  </div>
</form>

<br><br><br><br>


<div id="contenedor" class="row">
  <% for(var i=0; i<resource.length; i++) {%>
  <div class="card" style="width: 20rem;">
    <div class="card-block">
      <h4 class="card-title"><%= resource[i].resourceId %> <%= resource[i].resourceTitle %> </h4>
      <a href="/RecommenderModule/RecommenderWkx/bringParametersCreator?resourceId=<%= resource[i].resourceId %>">
        <button type="button"  class="btn btn-primary">recomendación</button>
      </a>

    </div>
  </div>
  <% } %>
</div>


<br>
<br>
<br>

