<h1>Autores sincronizados a Wikindx</h1>

<p>Para mostrar los metadatos relacionado, escoja uno de los autores guardados en wikindx:</p>

<div id="contenedor" class="row">
  <% for(var i=0; i<creators.length; i++) {%>
  <div class="card" style="width: 20rem;">
    <div class="card-block">
      <h4 class="card-title"><%= creators[i].creatorId %> Autor </h4>


      <p><%= creators[i].creatorFirstname %> <%= creators[i].creatorSurname %></p>

      <a href="/RecommenderModule/RecommenderWkx/bringParametersCreator?creatorId=<%= creators[i].creatorId %>">
        <button type="button"  class="btn btn-primary">recomendación</button>
      </a>

    </div>
  </div>
  <% } %>
</div>


<br>
<br>
<br>




