

<h1>Autores sincronizados a Wikindx</h1>

<p>Para encontrar los autores relacionado, escoja uno de los autores guardados en wikindx:</p>

<div id="contenedor" class="row">
  <% for(var i=0; i<resourcemisc.length; i++) {%>
  <div class="card" style="width: 20rem;">
    <div class="card-block">
      <h4 class="card-title">resource </h4>


      <p>id collection <%= resourcemisc[i].resourcemiscCollection %>  idPublisher<%= resourcemisc[i].resourcemiscPublisher %></p>


    </div>
  </div>
  <% } %>
</div>


<br>
<br>
<br>





