
<head>

  <script>
    var arrayURIS = new Array();
    var arrayValores = new Array();
    var prefixs = "PREFIX id:   <http://acm.rkbexplorer.com/id/>"+
      "PREFIX rdf:  <http://www.w3.org/1999/02/22-rdf-syntax-ns#>"+
      "PREFIX rdfs: <http://www.w3.org/2000/01/rdf-schema#>"+
      "PREFIX akt:  <http://www.aktors.org/ontology/portal#>"+
      "PREFIX owl:  <http://www.w3.org/2002/07/owl#>"+
      "PREFIX akt:  <http://www.aktors.org/ontology/portal#>"+
      "PREFIX akts: <http://www.aktors.org/ontology/support#>"

    function exec() {
      var endpoint = d3.select("#endpoint").property("value")
      var sparql = d3.select("#sparql").property("value")
      d3sparql.query(endpoint, sparql, render)
    }

    function render(json) {
      var config = {
        "selector": "#result"
      }
      d3sparql.htmltable(json, config)
    }


    function recom(){

      var sparql = prefixs + "SELECT ?cr1URI WHERE {"+
        "{?cr1URI ?link <http://acm.rkbexplorer.com/id/100233>.}}"
      var endpoint = d3.select("#endpoint").property("value")
      d3sparql.query(endpoint, sparql,almArr)
    }

    function  almArr(json){
      var articsArr = json.results.bindings;
      for(i in articsArr){
        arrayURIS[i] = articsArr[i].cr1URI.value
      }
      var sparqlRec;
      for(i=0 ; i<arrayURIS.length ; i++){
        sparqlRec= prefixs +
          "SELECT ?links WHERE{"+
          //"{ <http://acm.rkbexplorer.com/id/100233> ?links " + "<" +arrURI[i] + ">.}"+
          //"UNION"+
          "{<"+arrayURIS[i]+">" + " ?links <http://acm.rkbexplorer.com/id/100233>.}"+
          "}"
        var endpoint = d3.select("#endpoint").property("value")
        d3sparql.query(endpoint,sparqlRec,almValues)
      }

      console.log(arrayValores.length)

    }

    function almValues(json){
      var uris = json.results.bindings;
      arrayValores.push(uris.length);
    }

    function exec_offline() {
      d3.json("cache/interpro/1117-hk.json", render)
    }
    function toggle() {
      d3sparql.toggle()
    }
  </script>
</head>
<body >

<div  id="containerMain" class="row">
  <div id="TitleURI" class="row">
    <div class="col-sm-12">
      <h1>La publicación seleccionada está identificada por el URI:</h1>
      <h2><a href="http://acm.rkbexplorer.com/id/100233">http://acm.rkbexplorer.com/id/100233</a><br><br></h2>
    </div>
  </div>

  <ul>
    <li>
      <h4>Resultados de enlaces encontrados en relacion al recurso <a href="http://acm.rkbexplorer.com/id/100233">http://acm.rkbexplorer.com/id/100233</a></h4>
      <p>La ejecución de consultas SPARQL presenta algunos enlaces a la publicación seleccionada: http://acm.rkbexplorer.com/id/100233.
        Se encuentran algunas propiedades como rdf: type, akt: has-title, akt: has-author, akt: addresses-generic-area-of-interest.
      </p>
      <code>Query:</code>
      <pre>
     <textarea border="" id="" cols="130" rows="4" style="border-style: hidden;">
       SELECT DISTINCT ?links ?o
       WHERE { <http://acm.rkbexplorer.com/id/100233> ?links ?o}
       Limit 20
     </textarea>
      </pre>
    </li>
    <li>
      <h4>Resultados de autores encontrados en relacion al recurso <a href="http://acm.rkbexplorer.com/id/100233">http://acm.rkbexplorer.com/id/100233</a></h4>
      <p>los resultados de la ejecución de la consulta SPARQL indicada presenta los nombres de los autores de la publicación seleccionada y los resultados de la ejecución.
        Las propiedades utilizadas en la consulta son akt: has-author y akt: full-name. También se presentan diferentes nombres para el mismo autor en las publicaciones.
      </p>
      <code>Query:</code>
      <pre>
     <textarea border="" id="" cols="130" rows="4" style="border-style: hidden;">
       SELECT DISTINCT ?name
       WHERE {<http://acm.rkbexplorer.com/id/100233> akt:has-author ?a.?a akt:full-name ?name}
     </textarea>
      </pre>
    </li>
    <li>
      <h4>Resultados de publicaciones de los mismos autores relacionados al recurso <a href="http://acm.rkbexplorer.com/id/100233">http://acm.rkbexplorer.com/id/100233</a></h4>
      <p>los resultados de la ejecución de consulta SPARQL indicada para presentar los títulos de las publicaciones de los mismos autores de la publicación seleccionada.
        Las propiedades utilizadas en la consulta son akt: has-author y akt: has-title.
      </p>
      <code>Query:</code>
      <pre>
     <textarea border="" id="" cols="130" rows="4" style="border-style: hidden;">
       SELECT ?resource ?title
       WHERE {<http://acm.rkbexplorer.com/id/100233> akt:has-author ?a. ?resource akt:has-author ?a. ?resource akt:has-title ?title}
     </textarea>
      </pre>
    </li>
    <li>
      <h4>Resultados de publicaciones de la misma área de interés relacionado con el recurso <a href="http://acm.rkbexplorer.com/id/100233">http://acm.rkbexplorer.com/id/100233</a></h4>
      <p>los resultados de la ejecución de la consulta SPARQL muestra los títulos de las publicaciones de la misma área de interés de la publicación seleccionada.
        Las propiedades utilizadas en la consulta son akt: addresses-generic-area-of-interest y akt: has-title.
      </p>
      <code>Query:</code>
      <pre>
     <textarea border="" id="" cols="130" rows="6" style="border-style: hidden;">SELECT DISTINCT ?tittle
       WHERE { ?p akt:addresses-generic-area-of-interest ?o.
                  <http://acm.rkbexplorer.com/id/100233> akt:addresses-generic-area-of-interest ?o.
                  ?p akt:has-title ?tittle}
       LIMIT 20
     </textarea>
      </pre>
    </li>
  </ul>
  <br>
  <div id="query" style="margin:auto">

    <form class="form-inline">
      <label>SPARQL endpoint:</label><br>
      <div class="input-append">
        <input id="endpoint" class="span5" value="http://acm.rkbexplorer.com/sparql/" type="text"  size=30 >
        <button class="btn" type="button" onclick="exec()">Query</button>
        <button hidden class="btn" type="button" onclick="recom()">Relacionados</button>
        <button class="btn" type="button" onclick="toggle()"><i id="button" class="fas fa-chevron-up"></i></button>
      </div>
    </form>

    <br>
    <textarea id="sparql" class="span9" rows=15 cols="100">
    PREFIX id:   <http://acm.rkbexplorer.com/id/>
    PREFIX rdf:  <http://www.w3.org/1999/02/22-rdf-syntax-ns#>
    PREFIX rdfs: <http://www.w3.org/2000/01/rdf-schema#>
    PREFIX akt:  <http://www.aktors.org/ontology/portal#>
    PREFIX owl:  <http://www.w3.org/2002/07/owl#>
    PREFIX akt:  <http://www.aktors.org/ontology/portal#>
    PREFIX akts: <http://www.aktors.org/ontology/support#>

    SELECT DISTINCT ?links ?o
    WHERE {<http://acm.rkbexplorer.com/id/100233> ?links ?o}
    Limit 20
      </textarea>
    <br><br>
  </div>
  <div id="result"></div>
  <br>



</div>


<br><br><br><br>


</body>

