


<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
  <!-- Content Header (Page header) -->

  <section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1>Biblioteca</h1>
        </div>
        <div class="col-sm-4">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="<%= MasterUrlService.base_url()%>"><i class="fa fa-home"></i> Inicio</a></li>
            <li class="breadcrumb-item active"> Biblioteca</li>
          </ol>
        </div>
        <div class="col-sm-2">
          <ol class="breadcrumb pull-right">
            <li>
              <div class="">
                <button class="btn btn-secondary"
                        id="reload">
                  Recargar
                  <i class="fa fa-refresh" aria-hidden="true"></i>
                </button>
              </div>
            </li>
          </ol>
        </div>
      </div>
    </div><!-- /.container-fluid -->
  </section>

  <section class="content">
    <div class="container-fluid">
      <!-- /-------------------------------------------------------------------------------------------------------------/ -->
      <!--------------------------
      | Your Page Content Here START|
      -------------------------->


      <html ng-app="appRecommender">
      <body ng-controller="Controller">
      <div id="containerMain" class="row">
        <div id="TitleURI" class="row">
          <div class="col-sm-12">
            <h1>Resultados de autores encontrados en relacion al recurso <a href="http://acm.rkbexplorer.com/id/100233">http://acm.rkbexplorer.com/id/100233</a><br></h1>
          </div>
        </div>
        <p>los resultados de la ejecución de la consulta SPARQL indicada presenta los nombres de los autores de la publicación seleccionada y los resultados de la ejecución.
          Las propiedades utilizadas en la consulta son akt: has-author y akt: full-name. También se presentan diferentes nombres para el mismo autor en las publicaciones.
        </p>
        <br>
        <div class="form-group row">
          <label class="col-2 col-form-label">Query: </label>
        </div>
        <div class="col-10">
    <textarea
      class="form-control"
      id="querySparql"
      name="querySparql"
      rows="5"
      cols="80">
    SELECT DISTINCT ?name
    WHERE {<http://acm.rkbexplorer.com/id/100233> akt:has-author ?a.?a akt:full-name ?name}

  </textarea>
        </div>
        <div class="container" style="background-color: black">
          <div class="row">
            <img class="img-cabecera"
                 src="https://pict.acm.org/Pulzion17/images/ACM%20logo.png"
                 alt=""
                 width="100%"
                 height="400" >
          </div>
          <br>
          <div class="row">
            <div class="col-md-4" ng-repeat="article in responseJson;" >
              <div class="card">
                <img class="card-img-top"
                     src="http://blog.ciat.cgiar.org/wp-content/uploads/magazines.jpg"
                     alt="Card image cap"  height="150">

                <form action="/RecommenderModule/LinkPublication/createLinkToAPublication" method="post">
                  <div class="fondo">
                    <h3>Autores relacionados a la URI</h3>
                    <div class="form-group row">
                      <label class="col-2 col-form-label">Nombre</label>
                      <div class="col-10">
                        <input class="form-control" type="text"  value="{{responseJson[$index].name.value}}" id="" name="">
                      </div>
                    </div>
                    <div class="form-group row">
                      <label class="col-2 col-form-label">tipo</label>
                      <div class="col-10">
                        <input class="form-control" type="text"  value="{{responseJson[$index].name.type}}" id="" name="">
                      </div>
                    </div>
                    <button class="btn btn-success" type="submit">Guardar</button>
                  </div>
                </form>
                <br>
              </div><br>

            </div>
            <div class="col-md-4"></div>
            <div class="col-md-4"></div>
          </div>
          <br>
        </div>
      </div>
      <script>


        var app = angular.module("appRecommender",[]);
        app.controller("Controller",function ($scope,$http) {

          $scope.responseJson= [];

          let endPointAcm ="http://acm.rkbexplorer.com/sparql/";
          let queryParametersSparql = "?format=json&query=";
          let apiAcm = endPointAcm + queryParametersSparql  //api de ACM con sus parametros

          let id_Prefix = "PREFIX+id%3A%3Chttp%3A%2F%2Facm.rkbexplorer.com%2Fid%2F%3E%0D%0A";
          let rdf_Prefix = "PREFIX+rdf%3A%3Chttp%3A%2F%2Fwww.w3.org%2F1999%2F02%2F22-rdf-syntax-ns%23%3E%0D%0A";
          let rdfs_Prefix = "PREFIX+rdfs%3A%3Chttp%3A%2F%2Fwww.w3.org%2F2000%2F01%2Frdf-schema%23%3E%0D%0A";
          let akt_Prefix = "PREFIX+akt%3A%3Chttp%3A%2F%2Fwww.aktors.org%2Fontology%2Fportal%23%3E%0D%0A";
          let owl_Prefix = "PREFIX+owl%3A%3Chttp%3A%2F%2Fwww.w3.org%2F2002%2F07%2Fowl%23%3E%0D%0A";
          let akts_Prefix = "PREFIX+akts%3A%3Chttp%3A%2F%2Fwww.aktors.org%2Fontology%2Fsupport%23%3E%0D%0A";

          let prefix = id_Prefix+rdf_Prefix+rdfs_Prefix+akt_Prefix+owl_Prefix+akt_Prefix+akts_Prefix  //Prefijos Publicaciones ACM (Tomar en cuenta que akt_Prefix se repite para que funcione la consulta)

          let select = "SELECT+DISTINCT+%3Fname+%0D%0A";
          let where = "WHERE+%7B%3Chttp%3A%2F%2Facm.rkbexplorer.com%2Fid%2F100233%3E+akt%3Ahas-author+%3Fa.%3Fa+akt%3Afull-name+%3Fname%7D%0D%0A%0D%0A";
          let limit = "Limit+20";
          let querySparql = select+where+limit; //consulta Sparql

          let concatenation = apiAcm+prefix+querySparql;

          $http.get(concatenation)
            .success(function (data){
              console.log(data);
              $scope.responseJson = data.results.bindings;
              console.log("la url es:" + concatenation);
              console.log("numero de arutores:" + $scope.responseJson.length);

              for(let i = 0;i<$scope.responseJson.length;i ++){
                let nameValue = $scope.responseJson[i].name.value
                let nameType = $scope.responseJson[i].name.type

                console.log(i+1+": valor de nombre es:"+ nameValue);
                console.log(i+1+": tipo de nombre es:"+ nameType);

              }
            })
            .error(function (err) {
            });

        });
      </script>
      <br><br>
      </body>
      </html>



      <!--------------------------
      | Your Page Content Here END|
      -------------------------->
      <!-- /-------------------------------------------------------------------------------------------------------------/ -->
    </div><!-- /.container-fluid -->
  </section>
  <!-- /.content -->
</div>
<!-- /.content-wrapper -->











