<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <!-- Main content -->
  <section class="content">

    <div class="row">
      <div class="col-lg-12">
        <div class="panel panel-default">
          <div class="panel-heading"> Detalle articulo</div>
          <div class="panel-body">

            <!-- /-------------------------------------------------------------------------------------------------------------/ -->

            <!--------------------------
            | Your Page Content Here START |
            -------------------------->

            <div ng-controller="Controller">

              <div id="containerMain" class="row">
                <div id="TitleURI" class="row">
                  <div class="col-sm-12">
                    <h1>Resultados de enlaces encontrados en relacion al recurso <a href="http://acm.rkbexplorer.com/id/100233">http://acm.rkbexplorer.com/id/100233</a><br></h1>
                  </div>
                </div>
                <p>La ejecución de consultas SPARQL presenta algunos enlaces a la publicación seleccionada: http://acm.rkbexplorer.com/id/100233.
                  Se encuentran algunas propiedades como rdf: type, akt: has-title, akt: has-author, akt: addresses-generic-area-of-interest.
                </p>
                <br>
                <div class="row">
                  <label class="col-2 col-form-label">Query: </label>
                </div>
                <div class="col-10">
          <textarea
            class="form-control"
            id="querySparql"
            name="querySparql"
            rows="5"
            cols="80">
            SELECT DISTINCT ?links ?o
            WHERE {<http://acm.rkbexplorer.com/id/100233> ?links ?o}
            Limit 20
          </textarea>
                </div>
                <div class="container" style="background-color: black">
                  <div class="row">
                    <img class="img-cabecera"
                         src="https://pict.acm.org/Pulzion17/images/ACM%20logo.png"
                         alt=""
                         width="100%"
                         height="400" >
                  </div>
                  <br>
                  <div class="row">
                    <div class="col-md-4" ng-repeat="article in responseJson;" >
                      <div class="card">
                        <img class="card-img-top"
                             src="http://blog.ciat.cgiar.org/wp-content/uploads/magazines.jpg"
                             alt="Card image cap"  height="150">

                        <form action="/RecommenderModule/LinkPublication/createLinkToAPublication" method="post">
                          <div class="fondo">
                            <h3>Enlaces relacionados a la URI</h3>
                            <div class="form-group row">
                              <label class="col-2 col-form-label">Valor</label>
                              <div class="col-10">
                                <input class="form-control" type="text"  value="{{responseJson[$index].links.value}}" id="links_Value" name="links_Value">
                              </div>
                            </div>
                            <div class="form-group row">
                              <label class="col-2 col-form-label">tipo</label>
                              <div class="col-10">
                                <input class="form-control" type="text"  value="{{responseJson[$index].links.type}}" id="link_Type" name="link_Type">
                              </div>
                            </div>
                            <h3>Objetos relacionados a la URI</h3>
                            <div class="form-group row">
                              <label class="col-3 col-form-label">Propiedad</label>
                              <div class="col-9">
                                <input class="form-control" type="text" value="{{responseJson[$index].o.value}}" id="o_Value" name="o_Value">
                              </div>
                            </div>
                            <div class="form-group row">
                              <label class="col-2 col-form-label">Tipo</label>
                              <div class="col-10">
                                <input class="form-control" type="text" value="{{responseJson[$index].o.type}}" id="o_Type" name="o_Type">
                              </div>
                            </div>
                            <button class="btn btn-success" type="submit">Guardar</button>
                          </div>
                        </form>
                        <br>
                      </div><br>

                    </div>
                    <div class="col-md-4"></div>
                    <div class="col-md-4"></div>
                  </div>
                  <br>
                </div>
              </div>
            </div>

            <!--------------------------
        | Your Page Content Here END|
        -------------------------->

            <!-- /-------------------------------------------------------------------------------------------------------------/ -->

          </div>
        </div>

      </div>
      <!-- /.col-lg-12 -->
    </div>
    <!-- /-------------------------------------------------------------------------------------------------------------/ -->
  </section>
  <!-- /.content -->
</div>
<!-- /.content-wrapper -->


